<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite"> <!-- parallel="classes" thread-count="4"> -->
    <parameter name="email" value="testpro.user03@testpro.io"/>
    <parameter name="password" value="te$t$tudent"/>
    <parameter name="wrong-password" value="********"/>
    <test name="All tests">
        <classes>
            <class name="seleniumTests.LoginTest">
                <methods>
                    <include name="loginTest_CorrectCredentials_LoggedToApp" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp1" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp2" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp3" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp4" />
                    <exclude name="ticketPriceCalculator" />
                </methods>
            </class>
            <class name="seleniumTests.LoginTestNew">
                <methods>
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp5" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp6" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp7" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp8" />
                    <exclude name="loginTest_CorrectCredentials_LoggedToApp9" />
                </methods>
            </class>
            <class name="seleniumTests.PlaylistTests">
                <methods>
                    <exclude name="playlistTests_createPlaylist_PlaylistCreated" />
                    <exclude name="playlistTests_renamePlaylist_PlaylistRenamed" />
                    <exclude name="playlistTests_createPlaylist_PlaylistCreated1" />
                    <exclude name="playlistTests_renamePlaylist_PlaylistRenamed1" />
                </methods>
            </class>
            <class name="seleniumTests.PlaylistTestsNew">
                <methods>
                    <exclude name="playlistTests_createPlaylist_PlaylistCreated2" />
                    <exclude name="playlistTests_renamePlaylist_PlaylistRenamed2" />
                    <exclude name="playlistTests_createPlaylist_PlaylistCreated3" />
                    <exclude name="playlistTests_renamePlaylist_PlaylistRenamed3" />
                </methods>
            </class>
        </classes>
    </test>
</suite>